/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

:root {
  /* COLOR VARIABLES */
  --HERO-BGC: rgb(171, 171, 217);
  --ICONS-COLOR: white;
  --PROFILE-BGC: rgb(66, 66, 144);
  --LINKS-COLOR: rgb(211, 211, 90);
  --HEADINGS-INTERESTS-COLOR: rgb(63, 63, 114);
  --AUTHORS-TITLES-COLOR: rgb(102, 137, 61);
  --BLOG-BGC: whitesmoke;
  --SKIRT-COLOR: rgb(105, 91, 91);
  --OFFSCREEN-MENU-BUTTON-COLOR: rgb(157, 178, 124);

  /* FONT VARIABLES */
  --MENU-FONT: 'Courier New', Courier, monospace;
  --PROFILE-H1-FONT: Arial, Helvetica, sans-serif;

  /* FONT SIZES */
  --FONT-LARGE: large;
  --FONT-MEDIUM: medium;
  --FONT-SMALLER: smaller;
  --FONT-SMALL: small;
  --FONT-XSMALL: x-small;
  --FONT-XLARGE: x-large;
  --FONT-XXLARGE: xx-large;

  /* FONT SIZES */
  --FONT-WEIGHT-BOLD: bold;
  --FONT-WEIGHT-BOLDER: bolder;
  --FONT-WEIGHT-LIGHTER: lighter;
}


/* --------------------------------------------------------------------------------------- 
                                    Hero Banner
                                  The Navigation Bar 
------------------------------------------------------------------------------------------- */

.hero-banner {
    background-color: var(--HERO-BGC);
    display: flex;
    justify-content: space-between;
}

#socials ul {
    display: flex;
    list-style-type: none;
}

#socials ul li {
    padding: 0.2em;
}

#socials ul li a {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: var(--FONT-LARGE);
    color: var(--ICONS-COLOR);
}

#menu ul {
    display: flex;
    margin-right: 4em;
    list-style-type: none;
}

#menu ul li a {
    margin-left: 1em;
    padding: 0.2em;
    text-decoration: none;
    font-size: var(--FONT-MEDIUM);
    font-weight: var(--FONT-WEIGHT-BOLD);
    font-family: var(--MENU-FONT);
    color: var(--ICONS-COLOR);
}


/* --------------------------------------------------------------------------------------- 
                                    Profile Section
                                  The Start of the main section 
------------------------------------------------------------------------------------------- */

.profile {
    padding: 1.5em;
    padding-left: 12em;
    padding-bottom: 3em;
    background-color: var(--PROFILE-BGC);
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    line-height: 1em;
}

.profile > figure img {
    max-width: 15em;
    height: auto;
    border-style: none;
    border-radius: 0.5em;
    width: auto;
}

.name-bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile > .name-bio > h1 {
    font-size: 2.5rem;    
    font-family: var(--PROFILE-H1-FONT);
    color: var(--ICONS-COLOR);
}

.name-bio > p > span {
    font-family: inherit;
    font-weight: var(--FONT-WEIGHT-LIGHTER);
    font-size: var(--FONT-LARGE);
    text-align: center;
    line-height: 1;
    color: var(--ICONS-COLOR);
    margin-left: 0.5em;
}

.profile > div > p > span > a {
    text-decoration: none;
    color: var(--LINKS-COLOR);
    margin-left: 6em;
    font-weight: var(--FONT-WEIGHT-BOLD);
}

#teaser {
    font-size: var(--FONT-MEDIUM);
    text-align: center;
    font-weight: var(--FONT-WEIGHT-LIGHTER);
    color: var(--ICONS-COLOR);
    line-height: 1.4em;
}

#teaser > a {
    text-decoration: none;
    color: var(--LINKS-COLOR);
    font-weight: var(--FONT-WEIGHT-BOLD);
}

/* ---------------------------------------------------------------------------------------------------------
                                BLOGGGGGGGGGGGG!!!!!!!!!!!!!!!!!!!!!! Section.
---------------------------------------------------------------------------------------------------------- */

.blog {
    padding: 1.25em;
    background-color: var(--BLOG-BGC);
    border: 1px solid black;
    margin-left: 10%;
    border-right: transparent;
    border-bottom: transparent;
    border-top: transparent;
}


.headings {
    color: var(--HEADINGS-INTERESTS-COLOR);
    padding-left: 5%;
    font-weight: var(--FONT-WEIGHT-BOLD)
}

.interests > li {
    list-style: circle; 
    list-style-position: inside;
    font-family: inherit;
    font-size: var(--FONT-MEDIUM);
    color: var(--HEADINGS-INTERESTS-COLOR);
}

.authors {
    color: var(--AUTHORS-TITLES-COLOR);
}

.descriptors {
    color:  var(--AUTHORS-TITLES-COLOR);
}

.author-name {
  padding-left: 5%;
  margin-bottom: 10px;
}

article ul li {
  margin-bottom: 10px;
}

.thoughts {
    margin-left: 10%;
}

/* ---------------------------------------------------------------------------------------------------------
                                FOOTER!!!!
---------------------------------------------------------------------------------------------------------- */
#skirt {
    padding: 0.2em;
    background-color: var(--BLOG-BGC);
}

#skirt > p {
    color: var(--SKIRT-COLOR);
    font-family: var(--MENU-FONT);
    font-weight: var(--FONT-WEIGHT-BOLD);
    font-size: var(--FONT-SMALLER);
    margin-left: 1em;
    margin-top: 0.5em;
}

/* ---------------------------------------------------------------------------------------------------------
                                Back To Top!!!!!!!!
---------------------------------------------------------------------------------------------------------- */

#back-to-top {
    position: fixed;
    bottom: 1.875em;
    right: 1.875em;
    font-size: var(--FONT-XLARGE);
    background-color: transparent;
    border: none;
    color: var(--HEADINGS-INTERESTS-COLOR);
    font-weight: var(--FONT-WEIGHT-BOLDER);
    border-radius: 0.02em;
}

#back-to-top:hover {
    cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------------------
                                Hamburger Menu!!!
---------------------------------------------------------------------------------------------------------- */
#ham-menu {
    padding: 1em;
    display: none;
    background-color: var(--HERO-BGC);
}

.ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 4px;
    width: 70%;
    margin-top: 10%;
    background-color: var(--ICONS-COLOR);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 5%;
}

.ham-menu span:nth-child(2) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 45%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

.off-screen-menu {
  background-color: hsl(0 0% 0% / 0.25);
  backdrop-filter: blur(0.5rem);
  height: 40vh;
  width: 100vw;
  /* max-width: 450px; */
  position: fixed;
  top: 0;
  /* right: -450px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  gap: 3em;
  z-index: 1000;
  transform: translateX(100%);
  transition: right 0.3s ease;
}

@supports (backdrop-filter: blur(0.1rem)) {
  .off-screen-menu {
    background-color: hsl(0 0% 100% / 0.2);
    backdrop-filter: blur(0.5rem);
  }
}

.off-screen-menu ul {
  font-size: var(--FONT-LARGE);
  margin: 20%;
  margin-top: 4%;
  align-items: center;
  text-align: center;
  padding: 20px;
  list-style-type: none;
}

.off-screen-menu ul li button  {
  width: 100vw;
  padding: 20px;
  border: .1px gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-width: 100%;
  background-color: hsl(0 0% 0% / .7);
}

.off-screen-menu #close-menu {
  color: hsl(0 0% 0% / .7);
  margin-left: 80%;
  margin-top: 1em;
  font-size: var(--FONT-LARGE);
}

.off-screen-menu ul li form button {
    color: var(--OFFSCREEN-MENU-BUTTON-COLOR);
    text-decoration: none;
    font-size: var(--FONT-LARGE);
    font-weight: 900;
    font-family: var(--MENU-FONT);
}

.off-screen-menu.active {
  transform: translateX(0);
  right: 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #menu {
      display: none;
    }
  
    #socials ul {
      padding: 0;
    }
  
    #ham-menu {
      display: block;
    }
  
    #menu-toggle {
      font-size: var(--FONT-SMALL);
    }
  
    #mobile-menu ul {
      list-style-type: none;
      font-size: var(--FONT-MEDIUM);
    }
  
    .ham-menu span {
      font-size: var(--FONT-XSMALL);
    }
  
    .profile {
      padding-left: 1.5em;
      justify-content: center;
    }
  
    .profile > figure img {
      max-width: 11em;
      margin-left: 2%;
    }
  
    .profile > .name-bio > h1 {
      align-items: center;
      font-size: 1.8em;
    }
  
    .name-bio > p > span {
      font-size: var(--FONT-SMALL);
    }
    
    #teaser {
      font-size: var(--FONT-SMALL);
    }
    
    .blog {
        font-size: var(--FONT-SMALL);
    }

    .headings {
      font-size: var(--FONT-LARGE);
    }

    .descriptors {
      font-size: var(--FONT-MEDIUM);
    }
  
    .title {
      font-size: var(--FONT-SMALL);
    }

    .authors {
      font-size: var(--FONT-SMALL);
    }

    .author-name {
      font-size: var(--FONT-SMALL);
    }

    #skirt > p {
      font-size: var(--FONT-XSMALL);
    }
  }
  
  
@media screen and (max-width: 970px) and (orientation:landscape) {
  
    .hero-banner {
      padding: 0;
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0;
      padding: 1em;
    }
  
  
    .profile > figure img {
      max-width: 10em;
      margin-left: 50%;
      margin-right: auto;
      align-items: center;
      text-align: center;
    }
  
    .name-bio {
      margin: 0;
      align-items: center;
    }
  
    .profile > .name-bio > h1 {
      align-items: center;
      font-size: 2em;
    }
  
    .name-bio > p > span {
      font-size: var(--FONT-SMALL);
      line-height: 1;
      white-space: nowrap;
      align-items: center;
    }
  
    .name-bio > p > span > a {
      padding-left: 5%;
    }
  
    #teaser {
      font-size: var(--FONT-XSMALL);
      justify-content: center;
    }
    
  
    #skirt > p {
      font-size: var(--FONT-XSMALL);
    }
  
    .article p {
      padding-left: 0;
      margin-left: 0;
      font-size: var(--FONT-SMALLER);
    }
  }
  
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad portrait styles */
    
    .hero-banner {
      padding: 0;
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      margin-left: 0;
      padding: 1em;
    }
  
  
    .profile > figure img {
      max-width: 10em;
      margin-left: 11%;
      align-items: center;
      text-align: center;
    }
  
    .name-bio {
      /* margin: 0; */
      align-items: center;
    }
  
    .profile > .name-bio > h1 {
      align-items: center;
      font-size: 2em;
    }
  
    .name-bio > p > span {
      font-size: var(--FONT-SMALL);
      line-height: 1;
      white-space: nowrap;
      align-items: center;
    }
  
    .name-bio > p > span > a {
      padding-left: 5%;
    }

    .off-screen-menu ul {
      display: none;
    }
  
    #teaser {
      font-size: var(--FONT-XSMALL);
      justify-content: center;
    }
  
    .article p {
      padding-left: 0;
    }
  }
  
@media only screen and (min-device-width: 768px) and (max-device-width: 1400px)
    and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad landscape styles */
    
    .hero-banner {
      padding: 0;
    }
  
    .profile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      margin-left: 0;
      padding: 1em;
    }
  
  
    .profile > figure img {
      max-width: 12em;
      margin-left: 15%;  
      align-items: center;
    }
  
    .name-bio {
      margin-top: 0;
      margin-left: 10%;
      align-items: center;
    }
  
    .profile > .name-bio > h1 {
      align-items: center;
      font-size: 2em;
    }
  
    .name-bio > p > span {
      font-size: var(--FONT-MEDIUM);
      line-height: 1;
      white-space: nowrap;
      align-items: center;
    }
  
    .name-bio > p > span > a {
      padding-left: 5%;
    }

    .off-screen-menu ul {
      display: none;
    }
  
    #teaser {
      font-size: var(--FONT-SMALL);
      justify-content: center;
    }
  
    .article {
      font-size: var(--FONT-SMALL);
    }
  
}