/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Hero Banner */
.hero-banner {
    margin: 0;
    padding: 0.01em;
    background-color: rgb(171, 171, 217);
    display: flex;
    justify-content: space-between;
}

#socials ul {
    display: flex;
    list-style-type: none;
}

#socials ul li {
    padding: 0.2em;
    width: max-content;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#socials ul li a {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: large;
    color: white;
}

#menu ul {
    display: flex;
    margin-right: 4em;
    list-style-type: none;
}

#menu ul li {
    text-align: center;
    padding: 0.2em;
    width: max-content;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#menu ul li a {
    margin-left: 1em;
    padding: 0.2em;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

/* Profile Section */
.profile {
    margin: 0;
    padding: 1.5em;
    padding-left: 12em;
    padding-bottom: 3em;
    background-color: rgb(66, 66, 144);
    width: auto;
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content: flex-start;
    align-items: center;
    line-height: 1em;
}

.profile > figure img {
    max-width: 15em;
    height: auto;
    border-style: none;
    border-radius: 0.5em;
    width: auto;
    vertical-align: middle;
    object-fit: cover;
}

.name-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.5em;
position: relative;
/* word-spacing: 0.5em; */
}

.profile > .name-bio > h1 {
    font-size: 3rem;    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
    white-space: nowrap;
}

.name-bio > p > span {
    font-family: inherit;
    font-weight: lighter;
    font-size: large;
    text-align: center;
    line-height: 1;
    color: white;
    margin-left: 0.5em;
}

.profile > div > p > span > a {
    text-decoration: none;
    color: rgb(211, 211, 90);
    margin-left: 5em;
    font-weight: bold;
}

#teaser {
    font-size: medium;
    text-align: center;
    font-weight: lighter;
    color: white;
    line-height: 1.4em;
}

#teaser > a {
    text-decoration: none;
    color: rgb(211, 211, 90);
    font-weight: bold;
}

.blog {
    margin: 0;
    padding: 1.25em;
    background-color: whitesmoke;
    border: 1px solid black;
    margin-left: 10%;
    border-right: transparent;
    border-bottom: transparent;
    border-top: transparent;
}

.blog #interests {
    margin: 0;
    padding: 0.3125em;
    display: flex;
    flex-direction: column;
}

.blog #headings {
    margin-top: 1%;
    color: rgb(63, 63, 114);
    padding-left: 5%;
}

.blog > article > #interests > li {
    list-style: circle;
    padding-left: 10%;
    list-style-position: inside;
    font-family: inherit;
    font-size: medium;
    line-height: 1.3;
    color: rgb(63, 63, 114);
}

.blog > article > #interests > li > #title {
    padding-left: 5%;
}

.blog > article > #interests > li > #authors {
    color: rgb(102, 137, 61);
    padding-left: 4%;
}

.blog > article > #interests > li > #descriptors {
    color:  rgb(102, 137, 61);
}

.blog > article > #interests > #thoughts {
    list-style: none;
    padding: 1.25em;
    padding-left: 2%;
    margin-left: 10%;
}

/* Footer */
#skirt {
    padding: 0.2em;
    background-color: whitesmoke;
}

#skirt > p {
    color: rgb(105, 91, 91);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: smaller;
    margin-left: 1em;
    margin-top: 0.5em;
}

/* Back to Top */
#back-to-top {
    position: fixed;
    bottom: 1.875em;
    right: 1.875em;
    font-size: x-large;
    background-color: transparent;
    border: none;
    color: rgb(71, 71, 144);
    font-weight: bolder;
    border-radius: 0.02em;
}

#back-to-top:hover {
    cursor: pointer;
}

/* Hamburger Menu Styles */
#ham-menu {
    padding: 1em;
    display: none;
    background-color: rgb(171, 171, 217);
}

.ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 4px;
    width: 70%;
    margin-top: 10%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 5%;
}

.ham-menu span:nth-child(2) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 45%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

.off-screen-menu {
    background-color: hsl(0 0% 0% / 0.25);
    backdrop-filter: blur(0.5rem);
    height: 40vh;
    width: 100vw;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    gap: 3em;
    z-index: 1000;
    transition: right 0.3s ease;
}

@supports (backdrop-filter: blur(0.1rem)) {
    .off-screen-menu {
        background-color: hsl(0 0% 100% / 0.2);
        backdrop-filter: blur(0.5rem);
    }
}


.off-screen-menu ul {
    font-size: larger;
    margin: 20%;
    margin-top: 4%;
    align-items: center;
    text-align: center;
}

.off-screen-menu #close-menu {
    margin-left: 80%;
    margin-top: 1em;
    font-size: large;
}

.off-screen-menu a {
    color: white;
    text-decoration: none;
    font-size: larger;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
}

.off-screen-menu.active {
    right: 0;
}


/* Responsive Styles */
@media (max-width: 768px) {
    #menu {
      display: none;
    }
  
    .hero-banner {
      padding: 0;
      height: 4em;
      justify-content: space-between;
    }
  
    #socials ul {
      padding: 0;
    }
  
    #ham-menu {
      display: block;
      padding: 1;
      align-items: center;
      justify-content: space-between;
    }
  
    #menu-toggle {
      font-size: small;
    }
  
    #mobile-menu ul {
      list-style-type: none;
      font-size: medium;
    }
  
    .ham-menu span {
      font-size: x-small;
    }
  
    .profile {
      padding-left: 1.5em;
      justify-content: center;
      align-items: center;
    }
  
    .profile > figure img {
      max-width: 10em;
      margin-left: 5%;
      margin-right: auto;
      align-items: center;
      text-align: center;
    }
  
    .name-bio {
      margin: 0;
      align-items: center;
    }
  
    .profile > .name-bio > h1 {
      align-items: center;
      font-size: 2em;
    }
  
    .name-bio > p > span {
      font-size: small;
      line-height: 1;
      white-space: nowrap;
      align-items: center;
    }
  
    .name-bio > p > span > a {
      padding-left: 5%;
    }
  
    #teaser {
      font-size: small;
      justify-content: center;
    }
    
    .blog {
        font-size: x-small;
    }
  
    #skirt > p {
      font-size: x-small;
    }
  }
  
  
  @media screen and (max-width: 970px) and (orientation:landscape) {
  
    .hero-banner {
      padding: 0;
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-left: 0;
      padding: 1em;
    }
  
  
    .profile > figure img {
      max-width: 10em;
      margin-left: 50%;
      margin-right: auto;
      align-items: center;
      text-align: center;
    }
  
    .name-bio {
      margin: 0;
      align-items: center;
    }
  
    .profile > .name-bio > h1 {
      align-items: center;
      font-size: 2em;
    }
  
    .name-bio > p > span {
      font-size: small;
      line-height: 1;
      white-space: nowrap;
      align-items: center;
    }
  
    .name-bio > p > span > a {
      padding-left: 5%;
    }
  
    #teaser {
      font-size: x-small;
      justify-content: center;
    }
    
  
    #skirt > p {
      font-size: x-small;
    }
  
    .article p {
      padding-left: 0;
      margin-left: 0;
      font-size: smaller;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad portrait styles */
    
    .hero-banner {
      padding: 0;
    }
  
    .profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      margin-left: 0;
      padding: 1em;
    }
  
  
    .profile > figure img {
      max-width: 10em;
      margin-left: 11%;
      align-items: center;
      text-align: center;
    }
  
    .name-bio {
      /* margin: 0; */
      align-items: center;
    }
  
    .profile > .name-bio > h1 {
      align-items: center;
      font-size: 2em;
    }
  
    .name-bio > p > span {
      font-size: small;
      line-height: 1;
      white-space: nowrap;
      align-items: center;
    }
  
    .name-bio > p > span > a {
      padding-left: 5%;
    }
  
    #teaser {
      font-size: x-small;
      justify-content: center;
    }
  
    .article p {
      padding-left: 0;
    }
  }
  
  @media only screen and (min-device-width: 768px) and (max-device-width: 1400px)
    and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad landscape styles */
    
    .hero-banner {
      padding: 0;
    }
  
    .profile {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-left: 0;
      margin-left: 0;
      padding: 1em;
    }
  
  
    .profile > figure img {
      max-width: 12em;
      margin-left: 15%;  
      align-items: center;
    }
  
    .name-bio {
      margin-top: 0;
      margin-left: 10%;
      align-items: center;
    }
  
    .profile > .name-bio > h1 {
      align-items: center;
      font-size: 2em;
    }
  
    .name-bio > p > span {
      font-size: medium;
      line-height: 1;
      white-space: nowrap;
      align-items: center;
    }
  
    .name-bio > p > span > a {
      padding-left: 5%;
    }
  
    #teaser {
      font-size: small;
      justify-content: center;
    }
  
    .article {
      font-size: small;
    }
  
}