/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

:root {
  /* COLOR VARIABLES */
  --HERO-BGC: rgb(171, 171, 217);
  --ICONS-COLOR: white;
  --PROFILE-BGC: rgb(66, 66, 144);
  --LINKS-COLOR: rgb(211, 211, 90);
  --HEADINGS-INTERESTS-COLOR: rgb(63, 63, 114);
  --AUTHORS-TITLES-COLOR: rgb(102, 137, 61);
  --BLOG-BGC: whitesmoke;
  --SKIRT-COLOR: rgb(105, 91, 91);
  --OFFSCREEN-MENU-BUTTON-COLOR: rgb(157, 178, 124);
  --CONTACT-COLOR: rgb(135, 135, 59);

  /* FONT VARIABLES */
  --MENU-FONT: 'Courier New', Courier, monospace;
  --PROFILE-H1-FONT: Arial, Helvetica, sans-serif;

  /* FONT SIZES */
  --FONT-LARGE: large;
  --FONT-MEDIUM: medium;
  --FONT-SMALLER: smaller;
  --FONT-SMALL: small;
  --FONT-XSMALL: x-small;
  --FONT-XLARGE: x-large;
  --FONT-XXLARGE: xx-large;

  /* FONT SIZES */
  --FONT-WEIGHT-BOLD: bold;
  --FONT-WEIGHT-BOLDER: bolder;
  --FONT-WEIGHT-LIGHTER: lighter;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: black;

  }

  :root {
      /* COLOR VARIABLES */
  --HERO-BGC: var(--OFFSCREEN-MENU-BUTTON-COLOR);
  --ICONS-COLOR: whitesmoke;
  --PROFILE-BGC: rgb(45, 80, 45);
  --LINKS-COLOR: var(--OFFSCREEN-MENU-BUTTON-COLOR);
  --HEADINGS-INTERESTS-COLOR: rgb(45, 80, 45) ;
  --AUTHORS-TITLES-COLOR: rgb(102, 137, 61);
  --BLOG-BGC: whitesmoke;
  --SKIRT-COLOR: rgb(105, 91, 91);
  --OFFSCREEN-MENU-BUTTON-COLOR: rgb(157, 178, 124);
  }

}



/* Hero Banner */
.hero-banner {
    background-color: var(--HERO-BGC);
    display: flex;
    justify-content: space-between;
}

#socials ul {
    display: flex;
    list-style-type: none;
}

#socials ul li {
    padding: 0.2em;
    width: max-content;
}

#socials ul li a {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: var(--FONT-LARGE);
    color: var(--ICONS-COLOR);
}

#menu ul {
    display: flex;
    margin-right: 4em;
    list-style-type: none;
}

#menu ul li {
    padding: 0.2em;
    width: max-content;
}

#menu ul li a {
    margin-left: 1em;
    padding: 0.2em;
    text-decoration: none;
    font-size: var(--FONT-MEDIUM);
    font-weight: bold;
    font-family: var(--MENU-FONT);
    color: var(--ICONS-COLOR);
}

#profile {
    margin: 0;
    padding: 1.094em;
    padding-left: 43em;
}

#profile > img{
    min-width: 100px;
    border: solid var(--ICONS-COLOR);
    border-radius: 48%;
    width: 150px;
}

#message {
    background-color: var(--BLOG-BGC);
    border:  1px solid;
    border-radius: 0.3125em;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 2em;
    width: 50%;
    height: 70%;
    margin-left: 24.2%;
}

#message > p {
    color: var(--HEADINGS-INTERESTS-COLOR);     
    text-align: center;
    font-family: inherit;
}

.email-address {
    text-decoration: None;
    color: var(--CONTACT-COLOR);
}

#Reach-me{
    font-weight: bold;
    font-family: inherit;
    color: var(--HEADINGS-INTERESTS-COLOR);
}

#social-links ul {
    display: flex;
    padding: 1em;
    padding-left: 14%;
    list-style-type: none;
}

#social-links ul li p{
    padding: 1em;
    color: var(--HEADINGS-INTERESTS-COLOR);
}

#social-links ul li p a {
    color: var(--CONTACT-COLOR);
}

#message-me {
    padding: 1.25em;
    border: none;
}

#message-me {
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
}

#name, #email {
    background-color: var(--BLOG-BGC);
    font-family: inherit;
    border: 1px solid;
    border-radius: 0.3125em;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 1.25em;
    width: 51.7%;
    margin-left: 23.5%;
}

#message-box {
    font-family: inherit;
    height: 15em;
    background-color: var(--BLOG-BGC);
    padding: 1.5em;
    border:  1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    width: 51.7%;
    margin-left: 23.5%;
}


#submit-button {
    background-color: var(--HERO-BGC);
    border:  1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 26em;
    font-family: var(--MENU-FONT);
    font-weight: 700;
    width: 51.7%;
    color: var(--ICONS-COLOR);
    cursor: pointer;
}


#skirt {
    padding: 0.2em;
    background-color: var(--BLOG-BGC);
    border-top: transparent;
}

#skirt > p {
    color: var(--SKIRT-COLOR);
    font-family: var(--MENU-FONT);
    font-weight: var(--FONT-WEIGHT-BOLD);
    font-size: var(--FONT-SMALL);
    margin-left: 1em;
    margin-top: 0.5em;
}

#back-to-top {
    position: fixed;
    bottom: 1.875em;
    right: 1.875em; 
    width: 0.04em;
    height: 3.75em;      
    font-size: var(--FONT-XLARGE);
    box-sizing: border-box;
    background-color: transparent;
    border: 1px transparent;    
    color: var(--HEADINGS-INTERESTS-COLOR);
    font-weight: var(--FONT-WEIGHT-BOLDER);
    border-radius: 0.02em;
}

#back-to-top:hover {
    cursor: pointer;
}


/* Hamburger Menu Styles */
#ham-menu {
    padding: 1em;
    display: none;
    background-color: var(--HERO-BGC);
}

.ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 4px;
    width: 70%;
    margin-top: 10%;
    background-color: var(--ICONS-COLOR);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 5%;
}

.ham-menu span:nth-child(2) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 45%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

.off-screen-menu {
    background-color: hsl(0 0% 0% / 0.25);
    backdrop-filter: blur(0.5rem);
    height: 40vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    gap: 3em;
    z-index: 1000;
    transform: translateX(100%);
    transition: right 0.3s ease;
  }
  
@supports (backdrop-filter: blur(0.1rem)) {
    .off-screen-menu {
      background-color: hsl(0 0% 100% / 0.2);
      backdrop-filter: blur(0.5rem);
    }
}
  
.off-screen-menu ul {
    font-size: larger;
    margin: 20%;
    margin-top: 4%;
    align-items: center;
    text-align: center;
    padding: 20px;
    list-style-type: none;
  }
  
.off-screen-menu ul li button  {
  width: 100vw;
  padding: 20px;
  border: .1px gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-width: 100%;
  background-color: hsl(0 0% 0% / .7);
}
  
.off-screen-menu #close-menu {
    color: hsl(0 0% 0% / .7);
    margin-left: 80%;
    margin-top: 1em;
    font-size: var(--FONT-LARGE);
  }
  
.off-screen-menu ul li form button {
    color: var(--OFFSCREEN-MENU-BUTTON-COLOR);
    text-decoration: none;
    font-size: var(--FONT-LARGE);
    font-weight: 900;
    font-family: var(--MENU-FONT);
}

.off-screen-menu.active {
    transform: translateX(0);
    right: 0;
  }
  
  

/* Responsive Styles */
@media (max-width: 768px) {
    #menu {
      display: none;
    }
  
    .hero-banner {
      padding: 0;
      height: 4em;
      justify-content: space-between;
    }
  
    #socials ul {
      padding: 0;
    }
  
    #ham-menu {
      display: block;
      padding: 1;
      align-items: center;
      justify-content: space-between;
    }
  
    #menu-toggle {
      font-size: var(--FONT-SMALL);
    }
  
    #mobile-menu ul {
      list-style-type: none;
      font-size: var(--FONT-MEDIUM);
    }
  
    .ham-menu span {
      font-size: var(--FONT-XSMALL);
    }

    #profile {
      padding: 1em;
      padding-left: 30%;
    }

    #profile > img{
      max-width: 10px;
      margin-left: 17%;
    }

    #message {
      width: 70%;
      height: 20%;
      margin-left: 15%;
    }

    #message > p {
      font-size: var(--FONT-SMALL);
      font-family: inherit;
    }

    #social-links ul {
        padding-left: 1em;
        font-size: var(--FONT-XSMALL);
        list-style-type: none;
    }

    #social-links ul li p{
        padding: 1em;
    }

    #name, #email {
        font-size: var(--FONT-SMALL);
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        width: 78%;
        margin-left: 11%;
    }

    #message-box {
        height: 12.5em;
        padding: 1.5%;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        width: 78%;
        margin-left: 11%;
    }


    #submit-button {
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        padding: 10px;
        width: 78%;
        margin-left: 11%;
        cursor: pointer;
    }
    
    #skirt > p {
      font-size: var(--FONT-XSMALL);
      display: block;
    }
  }
  
  
@media screen and (max-width: 970px) and (orientation:landscape) {

    #profile {
      padding: 1em;
      padding-left: 43%;
    }

    #profile > img{
      min-width: 20px;
    }

    #message {
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
      padding: 1em;
      width: 70%;
      height: 20%;
      margin-left: 15%;
    }

    #message > p {
      text-align: center;
      font-size: var(--FONT-SMALL);
    }

    #social-links ul {
        padding-left: 20%;
        font-size: var(--FONT-XSMALL);
        list-style-type: none;
    }

    #social-links ul li p{
        padding: 1em;
    }

    #name, #email {
        font-size: var(--FONT-SMALL);
        border-radius: 0.3125em;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        padding: .5em;
        width: 75%;
        height: 20%;
        margin-left: 13%;
    }

    #message-box {
        height: 20em;
        padding: 1.5%;
        width: 75%;
        margin-left: 13%;
    }


    #submit-button {
        padding: 10px;
        width: 75%;
        height: 20%;
        margin-left: 24%;
    }
    
    /* Footer */
    #skirt {
        display: block;
        font-size: var(--FONT-SMALL);
    }
    
    #skirt > p {
        font-size: var(--FONT-SMALLER);
        margin-left: 1em;
        margin-top: 0.5em;
    }
    
    /* Back to Top */
    #back-to-top {
        font-size: var(--FONT-XLARGE);
    }
    
}
  
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad portrait styles */    
    #profile {
      padding: 1em;
      padding-left: 43%;
    }

    #profile > img{
      min-width: 80px;
      margin-left: 5%;
    }

    #message {
      padding: 1em;
      width: 70%;
      height: 20%;
      margin-left: 15%;
    }

    #message > p {
      text-align: center;
      font-size: var(--FONT-SMALL);
    }

    #social-links ul {
        display: flex;
        padding: 1em;
        padding-left: 25%;
        font-size: var(--FONT-XSMALL);
        list-style-type: none;
    }

    #social-links ul li p{
        padding: 1em;
    }

    #name, #email {
        font-size: var(--FONT-SMALL);
        padding: .5em;
        width: 74%;
        height: 20%;
        margin-left: 13%;
    }

    #message-box {
        height: 20em;
        width: 74%;
        margin-left: 13%;
    }


    #submit-button {
        padding: 10px;
        width: 74%;
        height: 20%;
        margin-left: 13%;
    }
    
    /* Footer */
    #skirt > p {
        font-size: var(--FONT-SMALLER);
        margin-left: 1em;
        margin-top: 0.5em;
    }

    .off-screen-menu ul {
        display: none;
    }
    
    /* Back to Top */
    #back-to-top {
        font-size: var(--FONT-XLARGE);
    }
    
    /* Footer */
    #skirt {
        display: none;
    }
 
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1400px)
  and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* iPad landscape styles */
  .off-screen-menu ul {
    display: none;
  }

  #message {
    margin-left: 25%;
    width: 58%;
  }

  #name, #email {
    margin-left: 24%;
    width: 60%;
  }

  #message-box {
    margin-left: 24%;
    width: 60%;
  }

  #submit-button {
    width: 60%;
    margin-left: 24%;
  }

}