/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

/* Hero Banner */
.hero-banner {
    margin: 0;
    padding: 0.01em;
    background-color: rgb(171, 171, 217);
    display: flex;
    justify-content: space-between;
}

#socials ul {
    display: flex;
    list-style-type: none;
}

#socials ul li {
    padding: 0.2em;
    width: max-content;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#socials ul li a {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: large;
    color: white;
}

#menu ul {
    display: flex;
    margin-right: 4em;
    list-style-type: none;
}

#menu ul li {
    text-align: center;
    padding: 0.2em;
    width: max-content;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#menu ul li a {
    margin-left: 1em;
    padding: 0.2em;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#profile {
    margin: 0;
    padding: 1.094em;
    padding-left: 43em;
}

#profile > img{
    min-width: 100px;
    border: solid white;
    border-radius: 48%;
    width: 150px;
    align-items: center;
}

#message {
    background-color: whitesmoke;
    border:  1px solid;
    border-radius: 0.3125em;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 2em;
    width: 50%;
    height: 70%;
    margin-left: 22%;
}

#message > p {
    text-align: center;
    /* padding-left: 22%; */
    font-family: inherit;
}

.email-address {
    text-decoration: None;
    color: rgb(135, 135, 59);
}

#Reach-me{
    font-weight: bold;
    font-family: inherit;
}

#social-links ul {
    display: flex;
    padding: 1em;
    padding-left: 10em;
    list-style-type: none;
}

#social-links ul li p{
    padding: 1em;
}

#social-links ul li p a {
    color: rgb(135, 135, 59);
}

#message-me {
    margin: 0;
    padding: 1.25em;
    border: none;
}

#message-me {
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
}

#name, #email {
    background-color: whitesmoke;
    font-family: inherit;
    border: 1px solid;
    border-radius: 0.3125em;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 1.25em;
    width: 51.7%;
    /* height: 70%; */
    margin-left: 21%;
}

#message-box {
    font-family: inherit;
    height: 15em;
    background-color: whitesmoke;
    padding: 1.5%;
    border:  1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    width: 51.7%;
    /* height: 70%; */
    margin-left: 21%;
}


#submit-button {
    background-color: rgb(171, 171, 217);
    border:  1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 23.5em;
    font-family: inherit;
    font-weight: 500;
    width: 51.7%;
    /* height: 70%; */
    /* margin-left: 22%; */
    cursor: pointer;
}


#skirt {
    padding: 0.2em;
    background-color: whitesmoke;
    border-top: transparent;
}

#skirt > p {
    color: rgb(105, 91, 91);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: smaller;
    margin-left: 1em;
    margin-top: 0.5em;
}

#back-to-top {
    position: fixed;
    bottom: 1.875em;
    right: 1.875em; 
    width: 0.04em;
    height: 3.75em;      
    font-size: x-large;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px transparent;    
    color: rgb(71, 71, 144);
    font-weight: bolder;
    border-radius: 0.02em;
}

#back-to-top:hover {
    cursor: pointer;
}


/* Hamburger Menu Styles */
#ham-menu {
    padding: 1em;
    display: none;
    background-color: rgb(171, 171, 217);
}

.ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 4px;
    width: 70%;
    margin-top: 10%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 5%;
}

.ham-menu span:nth-child(2) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 45%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

.off-screen-menu {
    background-color: hsl(0 0% 0% / 0.25);
    backdrop-filter: blur(0.5rem);
    height: 40vh;
    width: 100vw;
    /* max-width: 450px; */
    position: fixed;
    top: 0;
    /* right: -450px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    gap: 3em;
    z-index: 1000;
    transform: translateX(100%);
    transition: right 0.3s ease;
  }
  
  @supports (backdrop-filter: blur(0.1rem)) {
.off-screen-menu {
      background-color: hsl(0 0% 100% / 0.2);
      backdrop-filter: blur(0.5rem);
    }
  }
  
.off-screen-menu ul {
    font-size: larger;
    margin: 20%;
    margin-top: 4%;
    align-items: center;
    text-align: center;
    padding: 20px;
    list-style-type: none;
  }
  
.off-screen-menu ul li button {
    width: 100vw;
    padding: 20px;
    border: .1px gray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-width: 100%;
    background-color: hsl(0 0% 0% / .7);
  }
  
.off-screen-menu #close-menu {
    color: hsl(0 0% 0% / .7);
    margin-left: 80%;
    margin-top: 1em;
    font-size: large;
  }
  
.off-screen-menu a {
      color: rgb(157, 178, 124);
      text-decoration: none;
      font-size: larger;
      font-weight: 900;
      font-family: 'Courier New', Courier, monospace;
  }
  
.off-screen-menu.active {
    transform: translateX(0);
    right: 0;
  }
  
  

/* Responsive Styles */
@media (max-width: 768px) {
    #menu {
      display: none;
    }
  
    .hero-banner {
      padding: 0;
      height: 4em;
      justify-content: space-between;
    }
  
    #socials ul {
      padding: 0;
    }
  
    #ham-menu {
      display: block;
      padding: 1;
      align-items: center;
      justify-content: space-between;
    }
  
    #menu-toggle {
      font-size: small;
    }
  
    #mobile-menu ul {
      list-style-type: none;
      font-size: medium;
    }
  
    .ham-menu span {
      font-size: x-small;
    }

    #profile {
      padding: 1em;
      padding-left: 30%;
      /* align-items: center; */
    }

    #profile > img{
      min-width: 10px;
    }

    #message {
      background-color: whitesmoke;
      border:  1px solid;
      border-radius: 0.3125em;
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
      padding: 1em;
      width: 70%;
      height: 20%;
      margin-left: 15%;
    }

    #message > p {
      text-align: center;
      font-size: small;
      /* padding-left: 22%; */
      font-family: inherit;
    }

    #social-links ul {
        display: flex;
        padding: 1em;
        padding-left: 1em;
        font-size: x-small;
        list-style-type: none;
    }

    #social-links ul li p{
        padding: 1em;
    }

    #name, #email {
        background-color: whitesmoke;
        font-family: inherit;
        font-size: small;
        border: 1px solid;
        border-radius: 0.3125em;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        padding: .5em;
        width: 78%;
        margin-left: 11%;
    }

    #message-box {
        font-family: inherit;
        height: 12.5em;
        background-color: whitesmoke;
        padding: 1.5%;
        border:  1px solid;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        width: 78%;
        margin-left: 11%;
    }


    #submit-button {
        background-color: rgb(171, 171, 217);
        border:  1px solid;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        padding: 10px;
        width: 78%;
        margin-left: 11%;
        font-family: inherit;
        font-weight: 500;
        cursor: pointer;
    }
    
    #skirt > p {
      font-size: x-small;
      display: block;
    }
  }
  
  
@media screen and (max-width: 970px) and (orientation:landscape) {

    #profile {
      padding: 1em;
      padding-left: 43%;
    }

    #profile > img{
      min-width: 20px;
    }

    #message {
      background-color: whitesmoke;
      border:  1px solid;
      border-radius: 0.3125em;
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
      padding: 1em;
      width: 70%;
      height: 20%;
      margin-left: 15%;
    }

    #message > p {
      text-align: center;
      font-size: small;
      /* padding-left: 22%; */
      font-family: inherit;
    }

    #social-links ul {
        display: flex;
        padding: 1em;
        padding-left: 25%;
        font-size: x-small;
        list-style-type: none;
    }

    #social-links ul li p{
        padding: 1em;
    }

    #name, #email {
        background-color: whitesmoke;
        font-family: inherit;
        font-size: small;
        border: 1px solid;
        border-radius: 0.3125em;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        padding: .5em;
        width: 74%;
        height: 20%;
        margin-left: 13%;
    }

    #message-box {
        font-family: inherit;
        height: 20em;
        background-color: whitesmoke;
        padding: 1.5%;
        border:  1px solid;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        width: 74%;
        /* height: 50%; */
        margin-left: 13%;
    }


    #submit-button {
        background-color: rgb(171, 171, 217);
        border:  1px solid;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        padding: 10px;
        width: 74%;
        height: 20%;
        margin-left: 13%;
        font-family: inherit;
        font-weight: 500;
        cursor: pointer;
    }
    
    /* Footer */
    #skirt {
        display: none;
    }
    
    #skirt > p {
        color: rgb(105, 91, 91);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: smaller;
        margin-left: 1em;
        margin-top: 0.5em;
    }
    
    /* Back to Top */
    #back-to-top {
        position: fixed;
        bottom: 1.875em;
        right: 1.875em;
        font-size: x-large;
        background-color: transparent;
        border: none;
        color: rgb(71, 71, 144);
        font-weight: bolder;
        border-radius: 0.02em;
    }
    
    #back-to-top:hover {
        cursor: pointer;
    }
    
}
  
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad portrait styles */    
    #profile {
      padding: 1em;
      padding-left: 43%;
    }

    #profile > img{
      min-width: 20px;
    }

    #message {
      background-color: whitesmoke;
      border:  1px solid;
      border-radius: 0.3125em;
      box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
      padding: 1em;
      width: 70%;
      height: 20%;
      margin-left: 15%;
    }

    #message > p {
      text-align: center;
      font-size: small;
      /* padding-left: 22%; */
      font-family: inherit;
    }

    #social-links ul {
        display: flex;
        padding: 1em;
        padding-left: 25%;
        font-size: x-small;
        list-style-type: none;
    }

    #social-links ul li p{
        padding: 1em;
    }

    #name, #email {
        background-color: whitesmoke;
        font-family: inherit;
        font-size: small;
        border: 1px solid;
        border-radius: 0.3125em;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        padding: .5em;
        width: 74%;
        height: 20%;
        margin-left: 13%;
    }

    #message-box {
        font-family: inherit;
        height: 20em;
        background-color: whitesmoke;
        padding: 1.5%;
        border:  1px solid;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        width: 74%;
        /* height: 50%; */
        margin-left: 13%;
    }


    #submit-button {
        background-color: rgb(171, 171, 217);
        border:  1px solid;
        border-radius: 5px;
        box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
        padding: 10px;
        width: 74%;
        height: 20%;
        margin-left: 13%;
        font-family: inherit;
        font-weight: 500;
        cursor: pointer;
    }
    
    /* Footer */
    #skirt {
        display: none;
    }
    
    #skirt > p {
        color: rgb(105, 91, 91);
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        font-size: smaller;
        margin-left: 1em;
        margin-top: 0.5em;
    }

    .off-screen-menu ul {
        display: none;
    }
    
    /* Back to Top */
    #back-to-top {
        position: fixed;
        bottom: 1.875em;
        right: 1.875em;
        font-size: x-large;
        background-color: transparent;
        border: none;
        color: rgb(71, 71, 144);
        font-weight: bolder;
        border-radius: 0.02em;
    }
    
    #back-to-top:hover {
        cursor: pointer;
    }
    
    
    /* Footer */
    #skirt {
        display: none;
    }
 
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1400px)
  and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  /* iPad landscape styles */
  .off-screen-menu ul {
    display: none;
  }

  #message {
    margin-left: 25%;
    width: 58%;
  }

  #name, #email {
    margin-left: 24%;
    width: 60%;
  }

  #message-box {
    margin-left: 24%;
    width: 60%;
  }

  #submit-button {
    width: 60%;
  }

}