/* * {
    border: 1px solid black;
} */
/* @media (min-width: 320px) and (max-width: 480px) {
  /* Styles for smaller phones */

/* } */

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


.hero-banner {
    margin: 0;
    padding: 0.01em 0.01em 0.01em;
    background-color: rgb(171, 171, 217);
    width: auto;
    display: flex;
    justify-content: space-between;
}

#socials ul {
    display: flex;
    list-style-type: none;
}

#socials ul li {
    padding: 0.2em;
    width: max-content;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#socials ul li a {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: large;
    color: white;   
}

#menu ul {
    display: flex;
    margin-right: 4em;
    list-style-type: none;
}

#menu ul li {
    text-align: center;
    padding: 0.2em;
    width: max-content;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#menu ul li a {
    margin-left: 1em;
    padding: 0.2em;
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

#profile {
    margin: 0;
    padding: 1.094em;
    padding-left: 43em;
}

#profile > img{
    min-width: 100px;
    border: solid white;
    border-radius: 48%;
    width: 150px;
    align-items: center;
}

#message {
    background-color: whitesmoke;
    border:  1px solid;
    border-radius: 0.3125em;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 2em;
    width: 50%;
    height: 70%;
    margin-left: 22%;
}

#message > p {
    text-align: center;
    /* padding-left: 22%; */
    font-family: inherit;
}

.email-address {
    text-decoration: None;
    color: rgb(135, 135, 59);
}

#Reach-me{
    font-weight: bold;
    font-family: inherit;
}

#social-links ul {
    display: flex;
    padding: 1em;
    padding-left: 10em;
    list-style-type: none;
}

#social-links ul li p{
    padding: 1em;
}

#social-links ul li p a {
    color: rgb(135, 135, 59);
}

#message-me {
    margin: 0;
    padding: 1.25em;
    border: none;
}

#message-me {
    margin-bottom: 0.625em;
    display: flex;
    flex-direction: column;
}

#name, #email {
    background-color: whitesmoke;
    font-family: inherit;
    border: 1px solid;
    border-radius: 0.3125em;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 1.25em;
    width: 59.5em;
    margin-left: 23.5em;
}

#message-box {
    font-family: inherit;
    height: 12.5em;
    background-color: whitesmoke;
    padding: 1.5%;
    border:  1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    width:  58.6em;
    margin-left: 23.5em;
}


#submit-button {
    background-color: rgb(171, 171, 217);
    border:  1px solid;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
    padding: 20px;
    width: 62.2em;
    margin-left: 23.5em;
    font-family: inherit;
    font-weight: 500;
    cursor: pointer;
}


#skirt {
    padding: 0.2em;
    background-color: whitesmoke;
    border-top: transparent;
}

#skirt > p {
    color: rgb(105, 91, 91);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: smaller;
    margin-left: 1em;
    margin-top: 0.5em;
}

#back-to-top {
    position: fixed;
    bottom: 1.875em;
    right: 1.875em; 
    width: 0.04em;
    height: 3.75em;      
    font-size: x-large;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px transparent;    
    color: rgb(71, 71, 144);
    font-weight: bolder;
    border-radius: 0.02em;
}

#back-to-top:hover {
    cursor: pointer;
}