/* Global Styles */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

:root {
  /* COLOR VARIABLES */
  --HERO-BGC: rgb(171, 171, 217);
  --ICONS-COLOR: white;
  --PROFILE-BGC: rgb(66, 66, 144);
  --LINKS-COLOR: rgb(211, 211, 90);
  --HEADINGS-INTERESTS-COLOR: rgb(63, 63, 114);
  --AUTHORS-TITLES-COLOR: rgb(102, 137, 61);
  --BLOG-BGC: whitesmoke;
  --SKIRT-COLOR: rgb(105, 91, 91);
  --OFFSCREEN-MENU-BUTTON-COLOR: rgb(157, 178, 124);
  --CONTACT-COLOR: rgb(135, 135, 59);

  /* FONT VARIABLES */
  --MENU-FONT: 'Courier New', Courier, monospace;
  --PROFILE-H1-FONT: Arial, Helvetica, sans-serif;

  /* FONT SIZES */
  --FONT-LARGE: large;
  --FONT-MEDIUM: medium;
  --FONT-SMALLER: smaller;
  --FONT-SMALL: small;
  --FONT-XSMALL: x-small;
  --FONT-XLARGE: x-large;
  --FONT-XXLARGE: xx-large;

  /* FONT SIZES */
  --FONT-WEIGHT-BOLD: bold;
  --FONT-WEIGHT-BOLDER: bolder;
  --FONT-WEIGHT-LIGHTER: lighter;
}


@media (prefers-color-scheme: dark) {
  body {
    background-color: black;

  }

  :root {
      /* COLOR VARIABLES */
  --HERO-BGC: var(--OFFSCREEN-MENU-BUTTON-COLOR);
  --ICONS-COLOR: whitesmoke;
  --PROFILE-BGC: rgb(45, 80, 45);
  --LINKS-COLOR: var(--OFFSCREEN-MENU-BUTTON-COLOR);
  --HEADINGS-INTERESTS-COLOR: rgb(45, 80, 45) ;
  --AUTHORS-TITLES-COLOR: rgb(102, 137, 61);
  --BLOG-BGC: whitesmoke;
  --SKIRT-COLOR: rgb(105, 91, 91);
  --OFFSCREEN-MENU-BUTTON-COLOR: rgb(157, 178, 124);
  }

}

hr {
    width: 100%;
}

/* Hero Banner */
.hero-banner {
    margin: 0;
    padding: 0.01em;
    background-color: var(--HERO-BGC);
    display: flex;
    justify-content: space-between;
}

#socials ul {
    display: flex;
    list-style-type: none;
}

#socials ul li {
    padding: 0.2em;
    width: max-content;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#socials ul li a {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: var(--FONT-LARGE);
    color: var(--ICONS-COLOR);
}

#menu ul {
    display: flex;
    margin-right: 4em;
    list-style-type: none;
}

#menu ul li {
    text-align: center;
    padding: 0.2em;
    width: max-content;
    flex-shrink: 1;
    flex-wrap: wrap;
}

#menu ul li a {
    margin-left: 1em;
    padding: 0.2em;
    text-decoration: none;
    font-size: var(--FONT-MEDIUM);
    font-weight: var(--FONT-WEIGHT-BOLD);
    font-family: var(--MENU-FONT);
    color: var(--ICONS-COLOR);
}


.topic > #main-topic {
    display: flex;
    flex-direction: row;
    background-color: var(--HEADINGS-INTERESTS-COLOR);
    margin: 0;
    padding-bottom: 20%;
    position: relative;
}

.topic > #main-topic > h1 {
    font-size: 2.2em;
    color: var(--ICONS-COLOR);
    font-family: var(--PROFILE-H1-FONT);
    margin-top: 5%;
    margin-left: 20%;
}

#cv-button {
    margin-top: 45%;
    margin-left: 185%;
    padding: 2.5px;
    margin-bottom: 2.5%;
    width: 135%;
    border-radius: 2%;
    border: transparent;
    color: var(--ICONS-COLOR);
}

#cv-button:hover {
    cursor: pointer;
}

.topic > #main-topic > form > button {
    text-decoration: none;
    font-family: var(--PROFILE-H1-FONT);
    font-weight: var(--FONT-WEIGHT-BOLD);
    font-size: var(--FONT-MEDIUM);
    text-align: center;
    color:  var(--AUTHORS-TITLES-COLOR);
    padding-left: 3px;
    line-height: 1.5em;
}

.topic > h1 > form > button {
    padding-right: 8px;
}

.topic > .cv-outline {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 61.5em;
    top: 18em;
    height: 97em;
    margin-left: 17em;
    position: absolute;
    background-color: var(--BLOG-BGC);
}

.cv-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 1.3;
    background-color: rgb(210, 208, 208);
}

.cv-head > img {
    max-width: 24.7%;
    height: auto;
    border-style: none;
    border-radius: 1%;
    width: auto;
    vertical-align: middle;
    object-fit: cover;
    margin-top: 0;
    margin-left: 19.2%;
}

.cv-head > #name-institution-contact > #name {
    font-family: var(--PROFILE-H1-FONT);
    font-weight: var(--FONT-WEIGHT-BOLDER);
    font-size: 2.5rem;
    padding-top: 0.8em;
    color: var(--AUTHORS-TITLES-COLOR);
    white-space: nowrap;
    margin-top: 0;
    margin-left: 35%;
}

.cv-head > #name-institution-contact > #institution {
    font-family: inherit;
    font-weight: var(--FONT-WEIGHT-BOLD);
    color: var(--AUTHORS-TITLES-COLOR);
    white-space: nowrap;
    margin-top: 0;
    margin-left: 7%;
}

#institution abbr {
    text-decoration: none;
}

.cv-head > #name-institution-contact > #contact > ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1.5em;
}

#contact > ul > li > a {
    text-decoration: none;
    color: var(--AUTHORS-TITLES-COLOR);
}

#contact > ul > li > a > span {
    text-decoration: none;
    color: var(--LINKS-COLOR);
    font-family: inherit;
    padding-left: 1em;
}

.topic > .cv-outline > #summary {
    padding: 1em;
    padding-left: 1.5em;
    line-height: 1.3;
    margin-top: 0;
    color: var(--AUTHORS-TITLES-COLOR);
    font-family: inherit;
}

#Experience {
    margin-top: 0;
    padding: 0.313em;
    padding-left: 1.5em;
    line-height: 1.3;
    color: var(--AUTHORS-TITLES-COLOR);
    font-family: inherit;
}

.title-descriptor {
    color: var(--AUTHORS-TITLES-COLOR);
    line-height: 1.3;
    font-family: inherit;
    font-weight: var(--FONT-WEIGHT-BOLD);
}

#Experience > ul > li > a {
    text-decoration: none;
    color: var(--LINKS-COLOR);
}

#Experience > ul > li > time {
    color: var(--LINKS-COLOR);
    font-family: var(--MENU-FONT);
    margin-left: 43em;
    font-weight: var(--FONT-WEIGHT-BOLD);
}

.description {
    list-style-type: none;
    padding-left: 3.125em;
    font-weight: var(--FONT-WEIGHT-LIGHTER);
    margin-bottom: 10px;
}

#Education {
    margin-top: 0;
    padding: 0.313em;
    padding-left: 1.5em;
    line-height: 1.3;
    color: var(--AUTHORS-TITLES-COLOR);
    font-family: inherit;
}

/* #Education > ul > li {
    color: rgb(63, 63, 114);
    line-height: 1;
    font-family: inherit;
    font-weight: bold;
} */

/* #Education > ul > li > a {
    text-decoration: none;
    color: rgb(135, 135, 59)
} */

.times {
    list-style-type: none;
}

#Education > ul > li > time {
    color: var(--LINKS-COLOR);
    font-family: var(--MENU-FONT);
    margin-left: 43em;
    font-weight: var(--FONT-WEIGHT-BOLD);
}

/* #Education > ul > p {
    padding-left: 3.125em;
} */

#Essentials {
    display: flex;
    flex-direction: row;
    gap: 5em;
}

#Essentials > #techstack{
    padding: 0.5em;
    line-height: 1.3;
    color: var(--AUTHORS-TITLES-COLOR);
    font-family: inherit;
    margin-left: 3.125em;
}

#Essentials > #techstack > ul > li {
    justify-content: left;
    list-style-type: none;
}

#Essentials > #skills {
    padding: 0.5em;
    line-height: 1.3;
    color: var(--AUTHORS-TITLES-COLOR);
    font-family: inherit;
    margin-left: 21.875;
}

#Essentials > #skills > ul > li {
    justify-content: left;
    list-style-type: none;
}

#Essentials > #languages {
    padding: 0.5em;
    line-height: 1.3;
    color: var(--AUTHORS-TITLES-COLOR);
    font-family: inherit;
    margin-left: 21.875;
}

#Essentials > #languages > ul > li {
    justify-content: left;
    list-style-type: none;
}



/* Footer */
#skirt {
    display: none;
    padding: 0.2em;
    background-color: var(--BLOG-BGC);
}

#skirt > p {
    color: var(--SKIRT-COLOR);
    font-family: var(--MENU-FONT);
    font-weight: var(--FONT-WEIGHT-BOLD);
    font-size: var(--FONT-SMALLER);
    margin-left: 1em;
    margin-top: 100em;
}

/* Back to Top */
#back-to-top {
    position: fixed;
    bottom: 1.875em;
    right: 1.875em;
    font-size: var(--FONT-XLARGE);
    background-color: transparent;
    border: none;
    color: var(--AUTHORS-TITLES-COLOR);
    font-weight: var(--FONT-WEIGHT-BOLDER);
    border-radius: 0.02em;
}

#back-to-top:hover {
    cursor: pointer;
}

/* Hamburger Menu Styles */
#ham-menu {
    padding: 1em;
    display: none;
    background-color: var(--HERO-BGC);
}

.ham-menu {
    height: 40px;
    width: 40px;
    margin-left: auto;
    position: relative;
    cursor: pointer;
}

.ham-menu span {
    height: 4px;
    width: 70%;
    margin-top: 10%;
    background-color: var(--ICONS-COLOR);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s ease;
}

.ham-menu span:nth-child(1) {
    top: 5%;
}

.ham-menu span:nth-child(2) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 45%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translateX(-50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translateX(-50%) rotate(-45deg);
}

.off-screen-menu {
    display: none;
    background-color: hsl(0 0% 0% / 0.25);
    backdrop-filter: blur(0.5rem);
    height: 40vh;
    width: 100vw;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    gap: 3em;
    z-index: 1000;
    transform: translateX(100%);
    transition: right 0.3s ease;
    opacity: 0;
  }
  
@supports (backdrop-filter: blur(0.1rem)) {
    .off-screen-menu {
      background-color: hsl(0 0% 100% / 0.2);
      backdrop-filter: blur(0.5rem);
    }
}
  
.off-screen-menu ul {
    font-size: var(--FONT-LARGE);
    margin: 20%;
    margin-top: 4%;
    align-items: center;
    text-align: center;
    padding: 20px;
    list-style-type: none;
}
  
.off-screen-menu ul li button  {
  width: 100vw;
  padding: 20px;
  border: .1px gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-width: 100%;
  background-color: hsl(0 0% 0% / .7);
}
  
.off-screen-menu #close-menu {
    color: hsl(0 0% 0% / .7);
    margin-left: 80%;
    margin-top: 1em;
    font-size: var(--FONT-LARGE);
}
  
.off-screen-menu ul li form button {
    color: var(--OFFSCREEN-MENU-BUTTON-COLOR);
    text-decoration: none;
    font-size: var(--FONT-LARGE);
    font-weight: 900;
    font-family: var(--MENU-FONT);
}

.off-screen-menu.active {
    transform: translateX(0);
    opacity: 1;
    right: 0;
  }
  
  

/* Responsive Styles */
@media (max-width: 768px) {
    #menu {
      display: none;
    }
  
    .hero-banner {
      padding: 0;
      height: 4em;
      justify-content: space-between;
    }
  
    #socials ul {
      padding: 0;
    }
  
    #ham-menu {
      display: block;
      padding: 1;
      align-items: center;
      justify-content: space-between;
    }
    
  
    #menu-toggle {
      font-size: var(--FONT-SMALL);
    }
  
    #mobile-menu ul {
      list-style-type: none;
      font-size: var(--FONT-MEDIUM);
    }
  
    .ham-menu span {
      font-size: var(--FONT-XSMALL);
    }

    .topic > #main-topic {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
        background-color: var(--HEADINGS-INTERESTS-COLOR);
        margin: 0;
        padding-bottom: 20%;
        position: relative;
    }
    
    .topic > #main-topic > h1 {
        font-size: 1em;
        white-space: none;
        margin: 0;
        padding-left: 4%;
        color: var(--ICONS-COLOR);
        font-family: var(--PROFILE-H1-FONT);
        margin-top: 5%;
        white-space: none ;
    }
    
    #cv-button {
        margin-top: 18%;
        margin-left: 90%;
        padding: 2px;
        margin-bottom: 2.5%;
        width: 120%;
        border-radius: 2%;
        border: transparent;
        color: var(--BLOG-BGC);
    }
    
    .topic > #main-topic > h1 > button:hover {
        cursor: pointer;
    }
    
    .topic > #main-topic > form > button {
        text-decoration: none;
        font-family: var(--PROFILE-H1-FONT);
        font-weight: var(--FONT-WEIGHT-BOLD);
        font-size: var(--FONT-XSMALL);
        text-align: center;
        color: var(--AUTHORS-TITLES-COLOR);
        padding-left: 3px;
        line-height: 1.5em;
        margin-left: 55%;
    }

    .topic > h1 > form > button {
        padding-right: 8px;
    }

    .topic > .cv-outline {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 20em;
        top: 10em;
        height: auto;
        margin-left: 2.5em;
        position: absolute;
        background-color: var(--BLOG-BGC);
    }
        
    .cv-head {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        line-height: 1;
        height: auto;
        padding: 0;
        background-color: rgb(210, 208, 208);
    }
    
    .cv-head > img {
        max-width: 21%;
        height: auto;
        border-style: none;
        border-radius: 1%;
        width: fit-content;
        vertical-align: middle;
        object-fit: cover;
        margin-top: 0;
        margin-left: 32.5%;
    }
    
    .cv-head > #name-institution-contact > #name {
        font-family: var(--PROFILE-H1-FONT);
        font-weight: var(--FONT-WEIGHT-BOLDER);
        font-size: 1rem;
        padding-top: 0.8em;
        color: var(--AUTHORS-TITLES-COLOR);
        white-space: nowrap;
        margin-top: 0;
        margin-left: 35%;
    }
    
    .cv-head > #name-institution-contact > #institution {
        display: none;
        font-family: inherit;
        font-weight: var(--FONT-WEIGHT-BOLD);
        font-size: var(--FONT-SMALLER);
        line-height: .5em;
        color: var(--AUTHORS-TITLES-COLOR);
        white-space: nowrap;
        margin-top: 0;    
    }
    
    #institution abbr {
        display: none;
        text-decoration: none;
        margin-left: 2%;
    }
    
    .cv-head > #name-institution-contact > #contact > ul {
        list-style: none;
        font-size: var(--FONT-SMALL);
        margin-left: 0;
        margin-bottom: 1em;
    }
    
    #contact > ul > li > a {
        text-decoration: none;
        color: var(--AUTHORS-TITLES-COLOR);
        margin: 0;
        font-size: var(--FONT-SMALLER);
    }
    
    #contact > ul > li > a > span {
        text-decoration: none;
        color: var(--LINKS-COLOR);
        font-family: inherit;
        padding-left: 1em;
        font-size: var(--FONT-SMALLER);
    }

    .topic > .cv-outline > #summary {
        padding: .5em;
        padding-left: 1.5em;
        line-height: 1em;
        margin-top: 0;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        font-size: var(--FONT-SMALL);
    }
    
    #Experience {
        margin-top: 0;
        padding: 0.313em;
        padding-left: 1.5em;
        line-height: 1.3;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        font-size: var(--FONT-SMALL);
    }

    .title-descriptor {
        margin-bottom: 4px;
        color: var(--AUTHORS-TITLES-COLOR);
        line-height: 1.3;
        font-family: inherit;
        font-weight: var(--FONT-WEIGHT-BOLD);
    }

    ul .times {
        display: none;
    }


    .description {
        list-style-type: none;
        padding-left: 0;
        font-weight: var(--FONT-WEIGHT-LIGHTER);
        margin-bottom: 10px;
    }

    #Education {
        margin-top: 0;
        padding: 0.313em;
        padding-left: 1.5em;
        line-height: 1.3;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        font-size: var(--FONT-SMALL);
    }


    #Essentials {
        display: flex;
        flex-direction: column;
        gap: .5em;
    }
    
    #Essentials > #techstack{
        padding: 0;
        line-height: 1.3;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        margin-left: 2%;
        font-size: var(--FONT-SMALL);
    }
    
    #Essentials > #techstack > ul > li {
        justify-content: left;
        list-style-type: none;
    }
    
    #Essentials > #skills {
        padding: 0;
        line-height: 1.3;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        margin-left: 2%;
        font-size: var(--FONT-SMALL);
    }
    
    #Essentials > #skills > ul > li {
        justify-content: left;
        list-style-type: none;
    }
    
    #Essentials > #languages {
        padding: 0;
        line-height: 1.3;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        margin-left: 2%;
        font-size: var(--FONT-SMALL);
    }
    
    #Essentials > #languages > ul > li {
        justify-content: left;
        list-style-type: none;
    }        
    
    #skirt > p {
      display: none;
    }
  }
  
  
@media screen and (max-width: 970px) and (orientation:landscape) {

    .off-screen-menu {
        display: none;
    }

    .topic > #main-topic {
        background-color:  var(--AUTHORS-TITLES-COLOR);
        padding-bottom: 20%;
        position: relative;
    }
    
    .topic > #main-topic > h1 {
        font-size: 2em;
        white-space: none;
        margin: 0;
        padding-left: 5%;
        color: var(--ICONS-COLOR);
        font-family: var(--PROFILE-H1-FONT);
        margin-top: 10%;
        white-space: none;
        font-size: var(--FONT-SMALL);
    }

    #cv-button {
        margin-top: 60%;
        margin-right: 0;
        padding: 2.5px;
        margin-bottom: 2.5%;
        width: 75%;
        border-radius: 2%;
        border: transparent;
        color: var(--BLOG-BGC);
    }
    
    .topic > #main-topic > h1 > button:hover {
        cursor: pointer;
    }
    
    .topic > #main-topic > form > button {
        text-decoration: none;
        font-family: var(--PROFILE-H1-FONT);
        font-weight: var(--FONT-WEIGHT-BOLD);
        font-size: var(--FONT-MEDIUM);
        text-align: center;
        color: var(--AUTHORS-TITLES-COLOR);
        padding-left: 3px;
        line-height: 1.5em;
    }

    .topic > h1 > form > button {
        padding-right: 8px;
    }

    .topic > .cv-outline {
        margin-left: 1em;
        width: 45em;
        height: auto;
    }

    .cv-head {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        line-height: 1;
        height: auto;
        padding: 0;
        background-color: rgb(210, 208, 208);
    }
    
    .cv-head > img {
        max-width: 10px;
        height: auto;
        border-style: none;
        border-radius: 1%;
        width: auto;
        vertical-align: middle;
        object-fit: cover;
        margin-top: 0;
        margin-left: 0;
    }
    
    .cv-head > #name-institution-contact > #name {
        font-family: var(--PROFILE-H1-FONT);
        font-weight: var(--FONT-WEIGHT-BOLDER);
        font-size: 2rem;
        padding-top: 0.8em;
        color: var(--AUTHORS-TITLES-COLOR);
        white-space: nowrap;
        margin-top: 0;
        margin-left: 45%;
    }
    
    .cv-head > #name-institution-contact > #institution {
        font-family: inherit;
        font-weight: var(--FONT-WEIGHT-BOLD);
        font-size: var(--FONT-SMALL);
        color: var(--AUTHORS-TITLES-COLOR);
        white-space: wrap;
        margin-top: 0;
        margin-left: 9%;
        white-space: nowrap;
    }
    
    .cv-head > #name-institution-contact > #contact > ul {
        list-style: none;
        margin-left: 0;
        margin-bottom: 1em;
    }
    
    #contact > ul > li > a {
        text-decoration: none;
        color: var(--AUTHORS-TITLES-COLOR);
        margin: 0;
        font-size: var(--FONT-SMALL);
    }
    
    #contact > ul > li > a > span {
        text-decoration: none;
        color: var(--LINKS-COLOR);
        font-family: inherit;
        padding-left: 1em;
        font-size: var(--FONT-SMALL);
    }

    .topic > .cv-outline > #summary {
        padding: 1em;
        padding-left: 1.5em;
        line-height: 1.2;
        margin-top: 0;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
    }
    
    #Experience {
        margin-top: 0;
        padding: 1em;
        padding-left: 1.5em;
        line-height: 1.2;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
    }
    
    #Experience > ul > li {
        color: var(--AUTHORS-TITLES-COLOR);
        line-height: 1.2;
        font-family: inherit;
        font-weight: var(--FONT-WEIGHT-BOLD);
    }
    
    #Experience > ul > li > a {
        text-decoration: none;
        color: var(--LINKS-COLOR);
    }
    
    #Experience > ul > span {
        color: var(--LINKS-COLOR);
        font-family: var(--MENU-FONT);
        margin-left: 0;
    }
    
    #Experience > ul > p {
        padding-left: 0;
    }
    
    #Education {
        margin-top: 0;
        padding: 1em;
        padding-left: 1.5em;
        line-height: 1.2;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
    }
    
    #Education > ul > li {
        color: var(--AUTHORS-TITLES-COLOR);
        line-height: 1;
        font-family: inherit;
        font-weight: var(--FONT-WEIGHT-BOLD);
    }
    
    #Education > ul > li > a {
        text-decoration: none;
        color: var(--LINKS-COLOR);
    }
    
    #Education > ul > span {
        color: var(--LINKS-COLOR);
        font-family: var(--MENU-FONT);
        margin-left: 0;
    }
    
    #Education > ul > p {
        padding-left: 0;
    }
    
    #Essentials {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    #Essentials > #techstack{
        padding: 0.5em;
        line-height: 1.3;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        margin-left: 0;
    }
    
    #Essentials > #techstack > ul > li {
        justify-content: left;
        list-style-type: none;
    }
    
    #Essentials > #skills {
        padding: 0.5em;
        line-height: 1.3;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        margin-left: 0;
    }
    
    #Essentials > #skills > ul > li {
        justify-content: left;
        list-style-type: none;
    }
    
    #Essentials > #languages {
        padding: 0.5em;
        line-height: 1.3;
        color: var(--AUTHORS-TITLES-COLOR);
        font-family: inherit;
        margin-left: 21.875;
    }
    
    #Essentials > #languages > ul > li {
        justify-content: left;
        list-style-type: none;
    }
    
    
    
    /* Footer */
    #skirt {
        display: none;
    }
    
    #skirt > p {
        color: var(--SKIRT-COLOR);
        font-family: var(--MENU-FONT);
        font-weight: var(--FONT-WEIGHT-BOLD);
        font-size: var(--FONT-SMALL);
        margin-left: 1em;
        margin-top: 0.5em;
    }
    
    /* Back to Top */
    #back-to-top {
        position: fixed;
        bottom: 1.875em;
        right: 1.875em;
        font-size: var(--FONT-XLARGE);
        background-color: transparent;
        border: none;
        color: var(--HEADINGS-INTERESTS-COLOR);
        font-weight: var(--FONT-WEIGHT-BOLDER);
        border-radius: 0.02em;
    }
}
  
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px)
    and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    /* iPad portrait styles */
    
    .topic > #main-topic {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
        background-color:  rgb(66, 66, 144);
        margin: 0;
        padding-bottom: 20%;
        position: relative;
    }
    
    .topic > #main-topic > h1 {
        font-size: 2em;
        white-space: none;
        margin: 0;
        padding-left: 5%;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 10%;
        white-space: none ;
        /* margin-left: 20%; */
    }

    #cv-button {
        margin-top: 45%;
        margin-left: 185%;
        padding: 2.5px;
        margin-bottom: 2.5%;
        width: 135%;
        border-radius: 2%;
        border: transparent;
        color: whitesmoke;
    }
    
    .topic > #main-topic > h1 > button:hover {
        cursor: pointer;
    }
    
    .topic > #main-topic > form > button {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: medium;
        text-align: center;
        color:  rgb(66, 66, 144);
        padding-left: 3px;
        line-height: 1.5em;
    }

    .topic > h1 > form > button {
        padding-right: 8px;
    }


    .topic > .cv-outline {
        margin-left: 4em;
        width: 40em;
        height: auto;
        margin-top: 10%;
    }

    .cv-head {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        line-height: 1;
        height: auto;
        padding: 0;
        background-color: rgb(210, 208, 208);
    }
    
    .cv-head > img {
        max-width: 25%;
        height: auto;
        border-style: none;
        border-radius: 1%;
        width: auto;
        vertical-align: middle;
        object-fit: cover;
        margin-top: 0;
        margin-left: 28.2%;
    }
    
    .cv-head > #name-institution-contact > #name {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 2rem;
        padding-top: 0.8em;
        color: rgb(63, 63, 114);
        white-space: nowrap;
        margin-top: 0;
        margin-left: 45%;
    }
    
    .cv-head > #name-institution-contact > #institution {
        font-family: inherit;
        font-weight: bold;
        font-size: small;
        color: rgb(63, 63, 114);
        white-space: wrap;
        margin-top: 0;
        margin-left: 9%;
        white-space: nowrap;
    }
    
    .cv-head > #name-institution-contact > #contact > ul {
        list-style: none;
        margin-left: 0;
        margin-bottom: 1em;
    }
    
    #contact > ul > li > a {
        text-decoration: none;
        color: rgb(63, 63, 114);
        margin: 0;
        font-size: small;
    }
    
    #contact > ul > li > a > span {
        text-decoration: none;
        color: rgb(135, 135, 59);
        font-family: inherit;
        padding-left: 1em;
        font-size: small;
    }

    .topic > .cv-outline > #summary {
        padding: 1em;
        padding-left: 1.5em;
        line-height: 1.2;
        margin-top: 0;
        color: rgb(63, 63, 114);
        font-family: inherit;
    }
    
    #Experience {
        margin-top: 0;
        padding: 1em;
        padding-left: 1.5em;
        line-height: 1.2;
        color: rgb(63, 63, 114);
        font-family: inherit;
    }
    
    #Experience > ul > li {
        color: rgb(63, 63, 114);
        line-height: 1.2;
        font-family: inherit;
        font-weight: bold;
    }
    
    #Experience > ul > li > a {
        text-decoration: none;
        color: rgb(135, 135, 59)
    }
    
    #Experience > ul > span {
        color: rgb(135, 135, 59);
        font-family: 'Courier New', Courier, monospace;
        margin-left: 0;
    }
    
    #Experience > ul > p {
        padding-left: 0;
    }
    
    #Education {
        margin-top: 0;
        padding: 1em;
        padding-left: 1.5em;
        line-height: 1.2;
        color: rgb(63, 63, 114);
        font-family: inherit;
    }
    
    #Education > ul > li {
        color: rgb(63, 63, 114);
        line-height: 1;
        font-family: inherit;
        font-weight: bold;
    }
    
    #Education > ul > li > a {
        text-decoration: none;
        color: rgb(135, 135, 59)
    }
    
    #Education > ul > span {
        color: rgb(135, 135, 59);
        font-family: 'Courier New', Courier, monospace;
        margin-left: 0;
    }
    
    #Education > ul > p {
        padding-left: 0;
    }
    
    #Essentials {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
    #Essentials > #techstack{
        padding: 0.5em;
        line-height: 1.3;
        color: rgb(63, 63, 114);
        font-family: inherit;
        margin-left: 0;
    }
    
    #Essentials > #techstack > ul > li {
        justify-content: left;
        list-style-type: none;
    }
    
    #Essentials > #skills {
        padding: 0.5em;
        line-height: 1.3;
        color: rgb(63, 63, 114);
        font-family: inherit;
        margin-left: 0;
    }
    
    #Essentials > #skills > ul > li {
        justify-content: left;
        list-style-type: none;
    }
    
    #Essentials > #languages {
        padding: 0.5em;
        line-height: 1.3;
        color: rgb(63, 63, 114);
        font-family: inherit;
        margin-left: 21.875;
    }
    
    #Essentials > #languages > ul > li {
        justify-content: left;
        list-style-type: none;
    }
    
    .off-screen-menu ul {
        display: none;
      }
    
    
    /* Footer */
    #skirt {
        display: none;
    }
 
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1400px)
and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
/* iPad landscape styles */
.topic > #main-topic {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: flex-start;
    background-color:  rgb(66, 66, 144);
    margin: 0;
    padding-bottom: 20%;
    position: relative;
}

.topic > #main-topic > h1 {
    font-size: 2em;
    white-space: none;
    margin: 0;
    padding-left: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%;
    white-space: none ;
    /* margin-left: 20%; */
}

#cv-button {
        margin-top: 45%;
        margin-left: 185%;
        padding: 2.5px;
        margin-bottom: 2.5%;
        width: 135%;
        border-radius: 2%;
        border: transparent;
        color: whitesmoke;
    }
    
    .topic > #main-topic > h1 > button:hover {
        cursor: pointer;
    }
    
    .topic > #main-topic > form > button {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        font-size: medium;
        text-align: center;
        color:  rgb(66, 66, 144);
        padding-left: 3px;
        line-height: 1.5em;
    }

    .topic > h1 > form > button {
        padding-right: 8px;
    }


.topic > .cv-outline {
    margin-left: 2em;
    width: 93%;
    height: auto;
    margin-top: .5%;
}

.cv-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    line-height: 1;
    height: auto;
    padding: 0;
    background-color: rgb(210, 208, 208);
}

.cv-head > img {
    max-width: 25%;
    height: auto;
    border-style: none;
    border-radius: 1%;
    width: auto;
    vertical-align: middle;
    object-fit: cover;
    margin-top: 0;
    margin-left: 28.2%;
}

.cv-head > #name-institution-contact > #name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    padding-top: 0.8em;
    color: rgb(63, 63, 114);
    white-space: nowrap;
    margin-top: 0;
    margin-left: 45%;
}

.cv-head > #name-institution-contact > #institution {
    font-family: inherit;
    font-weight: bold;
    font-size: small;
    color: rgb(63, 63, 114);
    white-space: wrap;
    margin-top: 0;
    margin-left: 9%;
    white-space: nowrap;
}

.cv-head > #name-institution-contact > #contact > ul {
    list-style: none;
    margin-left: 0;
    margin-bottom: 1em;
}

#contact > ul > li > a {
    text-decoration: none;
    color: rgb(63, 63, 114);
    margin: 0;
    font-size: small;
}

#contact > ul > li > a > span {
    text-decoration: none;
    color: rgb(135, 135, 59);
    font-family: inherit;
    padding-left: 1em;
    font-size: small;
}

.topic > .cv-outline > #summary {
    padding: 1em;
    padding-left: 1.5em;
    line-height: 1.2;
    margin-top: 0;
    color: rgb(63, 63, 114);
    font-family: inherit;
}

#Experience {
    margin-top: 0;
    padding: 1em;
    padding-left: 1.5em;
    line-height: 1.2;
    color: rgb(63, 63, 114);
    font-family: inherit;
}

#Experience > ul > li {
    color: rgb(63, 63, 114);
    line-height: 1.2;
    font-family: inherit;
    font-weight: bold;
}

#Experience > ul > li > a {
    text-decoration: none;
    color: rgb(135, 135, 59)
}

#Experience > ul > span {
    color: rgb(135, 135, 59);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0;
}

#Experience > ul > p {
    padding-left: 0;
}

#Education {
    margin-top: 0;
    padding: 1em;
    padding-left: 1.5em;
    line-height: 1.2;
    color: rgb(63, 63, 114);
    font-family: inherit;
}

#Education > ul > li {
    color: rgb(63, 63, 114);
    line-height: 1;
    font-family: inherit;
    font-weight: bold;
}

#Education > ul > li > a {
    text-decoration: none;
    color: rgb(135, 135, 59)
}

#Education > ul > span {
    color: rgb(135, 135, 59);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 0;
}

#Education > ul > p {
    padding-left: 0;
}

#Essentials {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#Essentials > #techstack{
    padding: 0.5em;
    line-height: 1.3;
    color: rgb(63, 63, 114);
    font-family: inherit;
    margin-left: 0;
}

#Essentials > #techstack > ul > li {
    justify-content: left;
    list-style-type: none;
}

#Essentials > #skills {
    padding: 0.5em;
    line-height: 1.3;
    color: rgb(63, 63, 114);
    font-family: inherit;
    margin-left: 0;
}

#Essentials > #skills > ul > li {
    justify-content: left;
    list-style-type: none;
}

#Essentials > #languages {
    padding: 0.5em;
    line-height: 1.3;
    color: rgb(63, 63, 114);
    font-family: inherit;
    margin-left: 21.875;
}

#Essentials > #languages > ul > li {
    justify-content: left;
    list-style-type: none;
}

.off-screen-menu ul {
    display: none;
  }


/* Footer */
#skirt {
    display: none;
}

}


